/* Cor de fundo do site */
body {
    background-color: #FFDDC1; /* Fundo rosa claro */
    height: 100vh; /* Altura da página ocupa toda a tela */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center; /* Centraliza o texto */
}

/* Estilo do cabeçalho */
header {
    background-color: #4682b4; /* Fundo azul escuro */
    color: white;
    padding: 20px;
    width: 100%; /* Largura total da tela */
}

/* Estilo do conteúdo principal */
main {
    width: 80%; /* Largura de 80% da tela */
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px;
}

/* Estilo do rodapé */
footer {
    background-color: #4682b4; /* Fundo azul escuro */
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center; /* Centraliza o texto do rodapé */
}