
/* Estilo geral do body */
body {
    background-color: #ADD8E6; /* Cor de fundo azul claro */
    font-family: Arial, sans-serif;
    color: #333; /* Cor do texto */
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilo do conteúdo principal */
main {
    padding: 20px;
}

/* Estilo para o rodapé */
footer {
    background-color: #4682b4; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 10px;
}